<% include ./partials/header %>

<div class="container">
  <div>
    <h5>Login with google</h5>
    <button class="loginBtn loginBtn--google">
      <a href="/google">Google</a>
    </button>
  </div>

</div>

<% include ./partials/footer %>
